# We use decision tree when our data does not have a linear boundry, in-case of logistic regression it uses linear deicision boundries and if the requirement of the data is nonlinear boundries then this technique is not effective. Hence here we use decision trees.

In [145]:

import numpy as np 
import pandas as pd 

df = pd.read_excel("decision_tree_file.xlsx")
df

       Company                  job    degree  salary_more_than_100k
0       google      sales executive  bachlors                      0
1       google      sales executive   masters                      0
2       google     business manager  bachlors                      1
3       google     business manager   masters                      1
4       google  computer programmer  bachlors                      0
5       google  computer programmer   masters                      1
6   abc pharma      sales executive  bachlors                      0
7   abc pharma  computer programmer   masters                      0
8   abc pharma     business manager  bachlors                      0
9   abc pharma     business manager   masters                      1
10    facebook      sales executive  bachlors                      1
11    facebook      sales executive   masters                      1
12    facebook     business manager  bachlors                      1
13    facebook     business manager   masters                      1
14    facebook  computer programmer  bachlors                      1
15    facebook  computer programmer   masters                      1

In [146]:
# now here with the help of comany, job and degree data we want to classify the salaries of the person 
# hence for our model the input data will be Comany, job, degree and out-put of the model should be the 
# salary_more_than_100k is 1 or 0 

x = df.drop(["salary_more_than_100k"], axis = 'columns')
x

       Company                  job    degree
0       google      sales executive  bachlors
1       google      sales executive   masters
2       google     business manager  bachlors
3       google     business manager   masters
4       google  computer programmer  bachlors
5       google  computer programmer   masters
6   abc pharma      sales executive  bachlors
7   abc pharma  computer programmer   masters
8   abc pharma     business manager  bachlors
9   abc pharma     business manager   masters
10    facebook      sales executive  bachlors
11    facebook      sales executive   masters
12    facebook     business manager  bachlors
13    facebook     business manager   masters
14    facebook  computer programmer  bachlors
15    facebook  computer programmer   masters

In [147]:
y = df['salary_more_than_100k']
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_than_100k, dtype: int64

In [148]:
# now as we can see our input data is not in numbers it is words hence we will encode the words in numbers
# import encoder 

from sklearn.preprocessing import LabelEncoder

In [149]:
# here we have creted the lable encoder for each column by using le 

le_Company = LabelEncoder
le_job = LabelEncoder
le_degree = LabelEncoder

In [150]:
# now we need to drop the other columns and need to add the new encoded ones to prepare our training data 
# here we are replacing the old columns of x with the new ones 

x['company_n'] = LabelEncoder().fit_transform(x['Company'])
x['job_n'] = LabelEncoder().fit_transform(x['job'])
x['degree_n'] = LabelEncoder().fit_transform(x['degree'])

In [151]:
inputs = x.drop(['Company','job','degree'], axis = 'columns')
inputs

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         0
7           0      1         1
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [152]:
outputs = y 
outputs

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_than_100k, dtype: int64

In [153]:
# splitting the data set 

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(inputs, outputs, test_size = .1)

In [154]:
# now here we can see our data for training and testing is ready we will split the data in training and testing
# and then will make the predictions.


from sklearn import tree
model = tree.DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [155]:
# training of the model 

model.fit(X_train, y_train)

DecisionTreeClassifier()

In [159]:
model.score(X_test, y_test)   # in the training data model will always be having 100 % accuracy.

0.5

In [120]:
# as per the format of input we have already provided we need to provide input 
                          # as a data frame

In [161]:
model.predict([[2,2,1]])

/Users/pavankumar/.pyenv/versions/3.8.10/lib/python3.8/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])

In [164]:
model.predict([[2,0,1]])

/Users/pavankumar/.pyenv/versions/3.8.10/lib/python3.8/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])