In [1]:
# in the given exercise we have a data set in which we have been given the salaries of employees
# in this data set we need to train our model and therefore need to predict the salaries of employees as per their 
# experience in years this will help HR people to predict the prices.
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n  # to convert words to numbers 

df = pd.read_excel("Salary.xlsx") # use index_col = 0 to getrid of the index
df.columns

Index(['Experience', 'test_score(out_of_10)', 'interview_score(out_of_10)',
       'salary(USD)'],
      dtype='object')

In [2]:
# first as we look in to the data we can see that we  do not have proper data there are some missing values that 
# we need to fill before training our model

df.Experience

0       NaN
1       NaN
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: Experience, dtype: object

In [3]:
df['test_score(out_of_10)']

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     NaN
7     7.0
Name: test_score(out_of_10), dtype: float64

In [4]:
df['test_score(out_of_10)']

0     8.0
1     8.0
2     6.0
3    10.0
4     9.0
5     7.0
6     NaN
7     7.0
Name: test_score(out_of_10), dtype: float64

In [5]:
df.Experience = df.Experience.fillna("zero")

df

  Experience  test_score(out_of_10)  interview_score(out_of_10)  salary(USD)
0       zero                    8.0                           9        50000
1       zero                    8.0                           6        45000
2       five                    6.0                           7        60000
3        two                   10.0                          10        65000
4      seven                    9.0                           6        70000
5      three                    7.0                          10        62000
6        ten                    NaN                           7        72000
7     eleven                    7.0                           8        80000

In [6]:
# Here we are converting words those are written in Experience to numbers.

df.Experience  = df.Experience.apply(w2n.word_to_num)
df

   Experience  test_score(out_of_10)  interview_score(out_of_10)  salary(USD)
0           0                    8.0                           9        50000
1           0                    8.0                           6        45000
2           5                    6.0                           7        60000
3           2                   10.0                          10        65000
4           7                    9.0                           6        70000
5           3                    7.0                          10        62000
6          10                    NaN                           7        72000
7          11                    7.0                           8        80000

In [7]:
import math
median_test_score = math.floor(df['test_score(out_of_10)'].median())
median_test_score

8

In [23]:
# replacing the mean value of test_score NaN with the median value 
# this is how we can replace all the NAN values form the median values.
df['test_score(out_of_10)'] = df['test_score(out_of_10)'].fillna('median_test_score')
df = df.iloc[:4,:]

In [30]:
df.columns

Index(['Experience', 'test_score(out_of_10)', 'interview_score(out_of_10)',
       'salary(USD)'],
      dtype='object')

In [31]:
# now we have prepared the data now we will train our model in it so that it can give us good predictions

reg = linear_model.LinearRegression()
reg.fit(df.iloc[:,:3], df['salary(USD)'])

LinearRegression()

In [ ]:
# in the above line the model has been trained now we will predcit the salaries according the experience & other features.
reg.predict([[2.3,9 ,8]])