In this exercise we will make a model for HR department that will predict that the 
Employee should be retained in the company or he needs to leave the company by the performance analysis. We are using Kaggle data set here.

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [19]:
df = pd.read_csv("HR_comma_sep_logistic_regression.csv")
df.head(100)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
95,0.37,0.51,2,155,3,0,1,0,sales,low
96,0.10,0.77,6,265,4,0,1,0,sales,low
97,0.10,0.84,6,279,4,0,1,0,sales,low
98,0.11,0.97,6,284,4,0,1,0,sales,low
99,0.90,1.00,5,221,6,0,1,0,sales,medium

In [21]:
df.shape

(14999, 10)

In [ ]:
# now here we will split our data in training and testing.

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = df